DB_HOST=localhost
DB_PORT=5432
DB_NAME=controle_presenca
DB_USER=postgres
DB_PASSWORD=

SEED_SUPERVISOR_PASSWORD=
SEED_ALUNO_PASSWORD=

INSTITUICAO_NOME=
INSTITUICAO_LATITUDE=
INSTITUICAO_LONGITUDE=
INSTITUICAO_RAIO=100
INSTITUICAO_PRECISAO_MAXIMA=50