@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ===========================
   RESET
=========================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   HTML E BODY
=========================== */

html {
    font-size: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.5;
}

/* ===========================
   ELEMENTOS
=========================== */

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
}

input {
    font: inherit;
}

/* ===========================
   TIPOGRAFIA
=========================== */

h1 {
    color: var(--color-title);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
}

p {
    color: var(--color-text-light);
    font-size: var(--font-size-md);
}

/* ===========================
   SELEÇÃO
=========================== */

::selection {
    background: var(--color-primary);
    color: var(--color-background);
}